<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Analyze a news article</title>
        <script type="text/javascript" src="/main.js"></script>
    </head>

    <body>

        <header>
        <h1>Let's analyze a news article!</h1>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Paste an URL here to analyze...">
                    <input type="submit" name="" id="submit" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>
            <section>
                <div id="results">
                    <div id="heading"></div>
                    <div id="agreement"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                    <div id="message"></div>
                </div>
            </section>
        </main>

        <footer>
        </footer>
        <script>
            // Check that service workers are supported
            // if ('serviceWorker' in navigator) {
            //     // Use the window load event to keep the page load performant
            //     window.addEventListener('load', () => {
            //         navigator.serviceWorker.register('/service-worker.js')
            //         .then(reg => console.log("Service Worker: Registered!"))
            //         .catch(err => console.log("Error ===> ", err))
            //     });
            // }
           </script>
    </body>
</html>
