header {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px;
    width: 100%;
    height: auto;
}

h1 {
font-size: 42px;
font-weight: bold;
display: block;
margin-left: auto;
margin-right: auto;
}